<div class="container article">
  <h1 class="center-align thin">{{article.headline}}</h1>
  <img src="{{article.photo}}" alt="" />
  <div class="container">
    <div class="content col m6 flow-text">
      <p class="bold" ><b>{{article.author}} {{article.date}}</b></p>
      <p>{{article.body}}</p>

    </div>
  </div>
</div>
