<h1 class="center-align">{{article.headline}}</h1>
<img class="center-align" src="{{article.photo}}" alt="" />
<div class="content col m6 center-align">
  <h3 >{{article.author}} {{article.date}}</h3>

    {{article.body}}
  
</div>
