  <div class="col s12 m7">
    {{#link-to 'article' article.id}}
      <div class="card horizontal">
        <div class="card-image">
          <img src={{article.photo}}>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4 class="header">{{article.headline}}</h4>
            <p>
              {{article.excerpt}}
            </p>
            <p>
              {{article.author}} <span id="right">{{article.date}}</span>
            </p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
    {{/link-to}}
  </div>
